html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1300px;
  padding: 100px 0;
}
.section.section-no-pad{
  padding: 0;
}
.section.section-blocks{
  align-items: start;
  justify-content: start;
}
h1,
a.fp-title{
  color: #333;
  font-size: 5em;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a.fp-title:hover{
  text-decoration: underline;
}
a.mini-link-title{
  color: #333;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 50px;
  text-decoration: none;
}
a.mini-link-title:hover{
  text-decoration: underline;
}
.viewheight-centered-block{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.achievement{
  display: flex;
  text-decoration: none;
  color: #333;
  padding: 20px;
  flex-direction: column;
  width: 300px;
}
a.achievement:hover{
  background-color: #3333331c;
}
a.achievement h2{
  margin: 0;
}
a.achievement .grey-text{
  margin-top: 5px;
}
.pill{
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 0;
  width: fit-content;
  font-size: 0.75em;
}
.grey-text{
  color: rgb(114, 114, 114);
}