body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color: #333;
  font-size: 5em;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}
.viewheight-centered-block{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section{
  padding: 100px 0;
}
a.achievement{
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px;
}
a.achievement:hover{
  background-color: #3333331c;
}
a.achievement:hover{
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px;
}